.container {
  padding: 40px;
  background: #FFFFFF;
}

.next, .back{
  float: right;
  border-radius: 15px;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
}

.next:focus, .back:focus{
  outline: none;
}

.linkButtons{
  text-align: center;
}

.cardItems{
  margin-left: 10px;
  margin-right: 10px;
}
.animalText, .animalImage{
  margin-bottom: 20px;
}

a{
  font-size: 16px;
  padding: 5px ;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
text-decoration: none;
}

.dotGroupConatiner{
  text-align: center;
}

.dotGroupConatiner button{
  height: 15px;
  width: 15px;
  border-radius: 8px;
}